.page-body{
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
html, body {
    margin: 0;
    padding: 0;
  }  
h1{
    font-size:24px;
    color: #f9faf8;
}
.header,
.container-main,
.footer-copyright{
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.content-secondary
{
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px ;
}
p, li{
    font-size: 18px;
    color: #e5e7eb
}
h2{
    font-size:48px;
    font-weight: 800;
    color: #f0faf8;
    
}
button{
 background-color: #3882f6;
 color: #f0faf8;
 border-radius: 8px;
 width: 150px;
 height: 40px;
 font-size: 20px;

}
button:hover{background-color: #1f2937;
}
.h3{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
   
}
.content-third{
    padding-left: 150px;
    padding-right: 150px;
    background-color: #e5e7eb;
}
#quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
li{
    display: flex;
}
.front-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.container-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.main-photo{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover
}  
.front-photo{
    height: 350px; 
    width: 700px;
}

.example{
    border-radius: 20px;
    object-fit: cover;
    width:100%;
	height:100%;
}
.image{
    height: 300px; 
    width: 300px; 
    display: flex;
    flex-direction: column; 
       
}
.images-party{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.content-third{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#author{
    color: #354254;
    align-self: flex-end;
}
.modal{
    display: flex;
    max-width: 45%;
    border-color: #3882f6;
    border-width: 10px;
    border-style:solid;
    border-radius: 50px;
    background-color: #3882f6;
    padding: 25px;
    gap: 15px;
}
.modal-text{
    display: flex;
    flex-direction: column;
}
.container-fourth{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-button{
    flex-shrink: 0;
    align-self: center;
}
.footer-copyright{
    display: flex;
    align-items: center;
    justify-content:center;
}
h3{
   font-size: 26px; 
}